.entry {
  margin-bottom: 6mm;
}

.entry:not(:last-child) {
  border-bottom: 1px dashed #DADADA;
}

.entry>div[name="Date"] {
  float: right;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.entry>div[name="Position"] {
  font-weight: bold;
  font-size: 1.1rem;
}

.entry>div[name="Organization"] {
  font-size: 0.8rem;
  font-style: italic;
}