body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: inherit;
}

h1, h2, h3 {
  margin: 0;
}

header {
  margin-top: 4rem;
}

header>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: xx-large;
  font-weight: normal;
}

.row h2 {
  font-size: x-large;
  font-weight: normal;
}

.row h3 {
  font-size: 1.2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.row>div:nth-child(1) {
  flex: 1;
  text-align: right;
  border-right: 1px solid silver;
  max-width: 8rem;
  padding: 0 1rem;
}

.row>div:nth-child(2) {
  flex: 2;
  text-align: left;
  max-width: 40%;
  margin-left: 1rem;
  border-bottom: 1px solid silver;
}

#avatar {
  border-radius: 50%;
  width: 8rem;
}

.contacts {
  margin: 1rem auto 0;
  list-style-type: none;
  text-align: center;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.contacts li {
  height: 1.2rem;
  padding: 0.1rem 1rem;
  display: flex;
  align-items: center;
}

.contacts li img {
  height: inherit;
  margin-right: 0.2rem;
}