html, body {
  font-size: 11pt;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  width: 210mm;
  margin: 0 auto;
}

a, a:visited {
  text-decoration: inherit;
  color: #558;
}

h1, h2, h3 {
  margin: 0;
}

ul li {
  list-style-type: circle;
}

header>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#avatar {
  width: 100%;
  border-radius: 50%;
}

#name {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2mm;
}

#contacts {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
}

#contacts li {
  height: 5mm;
  margin: 0 2mm;
  display: flex;
  align-items: center;
}

#contacts li img {
  height: 4mm;
  margin-right: 1mm;
}

/* row */

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2mm 0 8mm;
}

.row h2 {
  font-size: 1.4rem;
  font-weight: normal;
}

.row p:first-child {
  margin-top: 0;
}

.row>div:nth-child(1) {
  text-align: right;
  border-right: 1px solid #BABABA;
  width: 30mm;
  padding-right: 4mm;
}

.row>div:nth-child(2) {
  flex: 1;
  text-align: left;
  width: 180mm;
  margin-left: 4mm;
  border-bottom: 1px solid #DADADA;
}

/* entry */

.entry {
  margin-bottom: 6mm;
}

.entry:not(:last-child) {
  border-bottom: 1px dashed #DADADA;
}

.entry>div[name="Date"] {
  float: right;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.entry>div[name="Position"] {
  font-weight: bold;
  font-size: 1.1rem;
}

.entry>div[name="Organization"] {
  font-size: 0.8rem;
  font-style: italic;
}
